body{
    margin: 0;
    padding: 0;
    background: #487eb0;
}
#header {
    background-color:#1491A3;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:20px;
    background-color:#eeeeee;
    height:600px;
    width:180px;
    float:left;
    padding:10px;
}
#section {
    width:1000px;
    float:left;
    text-align:center;
    padding:10px;
}
#footer {
    background-color:#1491A3;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
.sign-div{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: url(bg02.jpg);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.sign-div h3{

    color: #fff;
    font-size: 10px;
}
.sign-div h4{

    color: gray;
    font-size: 5px;
}
.sign-div button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.sign-div input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
}
.sign-text{
    margin:4px;
    background: rgba(255,255,255,5);
    border-radius: 6px;
}
.sign-btn{
    margin-top: 50px;
    margin-bottom: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}
.sign-btn:hover{
    transform:scale(0.96);
}
.sign-div a{
    text-decoration: none;
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.sign-div a:hover{
    background: rgba(0,0,0,.3);
}

